<!DOCTYPE html>
<html ng-app="mapApp">
   <head>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
     <link rel="stylesheet" type="text/css" href="styles.css">
   </head>
   <body ng-controller="mapController as mapCtrl">
     <img ng-click="mapCtrl.mapMarker()" class="main-map" src="map.jpeg">

     <!--  The map marker div - hidden by default? -->
     <img src="green-marker.png" class="map-marker" ng-repeat="marker in mapCtrl.markers" style="top:{{marker.top}}px;left:{{marker.left}}px;" ng-click="mapCtrl.mapMarkerRemove(marker)">

     <script src="app.js"></script>
  </body>
</html>
