<!DOCTYPE html>
<html ng-app="mapApp">
   <head>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
     <link rel="stylesheet" type="text/css" href="styles.css">
   </head>
   <body ng-controller="mapController as mapCtrl">
     <div class="map-wrapper">
        <img ng-click="mapCtrl.mapMarker()" class="main-map" src="map.jpeg">
          <!-- <div class="note-prompt" ng-show="mapCtrl.showNoteInput">
            <input ng-keypress="mapCtrl.confirmNote()" placeholder="Enter a Note for your Marker...">
          </div> -->
        <!--  The map marker div - hidden by default? -->
           <div ng-repeat="marker in mapCtrl.markers" >
             <img src="green-marker.png" class="map-marker" ng-style={{marker.css()}} ng-click="mapCtrl.mapMarkerRemove(marker)" ng-mouseover="marker.showNote()" ng-mouseleave="marker.hideNote()">
             <div class="marker-note" ng-show="marker.noteVisible" ng-style={{marker.css()}}>{{marker.note}}</div>
           </div>
     </div>


     <script src="app.js"></script>
  </body>
</html>
