/* *Resets ****************************************************************** */
*{
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
input,
button{
  outline: none;
  font-size: 1rem;
}
/* /Resets ****************************************************************** */


html{
  font-size: 14px;
  height: 100%
}
body{
  height: 100%;
}
.map-wrapper,
#map{
  position: relative;
  height: 100%;
}
.main-map{
  height: 100%;
  width: 100%;
}

/* ************************************************************************** */
/* Marker Styling *********************************************************** */
/* ************************************************************************** */
.map-marker{
  height: 50px;
  width: 40px;

  position: absolute;
  transform: translateX(-50%) translateY(-100%);
}

/* ************************************************************************** */
/* Pop-Up Styling *********************************************************** */
/* ************************************************************************** */
.marker-note,
.note-prompt,
.note-prompt-confirm{
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px;
  text-align: center;
}
.marker-note{
  background-color: #34495e;
  color: #fff;
  max-width: 150px;
  position: absolute;
}
.note-prompt-wrapper{
  position: absolute;
}
.note-prompt,
.note-prompt-confirm{
  height: 35px;
}
.note-prompt{
  background-color: #34495e;
  color: #fff;
  width: 150px;
}
.note-prompt:hover,
.note-prompt:focus{
  background-color: #2980b9;
}
.note-prompt-confirm{
  background-color: #c0392b;
  color: #fff;
}
